data/.nodered/flows_AMIC-XP65w5BM9i.json
[{"id":"92e71efcc66ec67c","type":"tab","label":"Flow 10","disabled":false,"info":"","env":[]},{"id":"71ad63c6b4688a82","type":"ball-mill","z":"92e71efcc66ec67c","name":"Ball-mill","x":240,"y":380,"wires":[["676e1a46c0fc0e57"]]},{"id":"676e1a46c0fc0e57","type":"blow-molding","z":"92e71efcc66ec67c","name":"","x":440,"y":380,"wires":[["2ff339d0c40f5355"]]},{"id":"2ff339d0c40f5355","type":"chemical-vapor-deposition-","z":"92e71efcc66ec67c","name":"","x":680,"y":380,"wires":[["cb1ea2c577193fce"]]},{"id":"cb1ea2c577193fce","type":"switch","z":"92e71efcc66ec67c","name":"","property":"sdf","propertyType":"msg","rules":[{"t":"eq","v":"a","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":380,"wires":[["81c6b3b4c4d3c04c"],["e8505eaccb26363d"]]},{"id":"e8505eaccb26363d","type":"ball-mill","z":"92e71efcc66ec67c","name":"","x":1040,"y":440,"wires":[[]]},{"id":"81c6b3b4c4d3c04c","type":"flux-cored","z":"92e71efcc66ec67c","name":"","x":1070,"y":320,"wires":[[]]}]